/* 
    Created on : 24-mar-2020, 22:14:55
    Author     : PedroArenas
*/
html{
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

body{
    background-color: #f4f4f4;
}

a {
    color: #000;
}

a:hover{
    text-decoration: none;
    color: #0064d3;
}
    
.footer{
    width: 100%;
}

.border-thin{
    border-width: 1px;
    border-color: #fefefe;
}

.btn-primary{
    background-color: #0064d3;
    border-color: #0064d3;
}

.multi-columns-3{
    min-width: 600px;
}

.nav-link{
    color: #000;
}

.jumbotron{
  background-image: url("/efake/img/jumbotron_bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 93vh;
  font-family: 'Helvetica bold', sans-serif;
}

.landing-box{
    height: 50vh;
}
.card{
    width: 16rem;
    margin-top: 1em;
}

#navBarSearchForm{
    width: 40em;
}


@media(min-width: 375px){
    #navBarSearchForm{
        width: 15em;
    }
    
    #footer-text{
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media(min-width: 480px){
    #navBarSearchForm{
        width: 20em;
    }
    
    #footer-text{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media(min-width: 768px){
    #navBarSearchForm{
        width: 25em;
    }
    
    #footer-text{
        margin-left: 1em;
        margin-right: 1em;
    }
    
}

@media(min-width: 1024px){
    #navBarSearchForm{
        width: 15em;
    }
}

@media(min-width: 1366px){
    #navBarSearchForm{
        width: 30em;
    }
}