/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mar-2020, 16:15:39
    Author     : carlo
*/
.titles {
    margin-left: 50px;
    margin-bottom: 15px;
}

.margen-barras {
    margin-left: 50px; 
    margin-right: 200px; 
    margin-bottom: 10px;
}

.margen-boton {
    margin-left: 50px;
    margin-bottom: 10px;
}

.margen-comentarios {
    margin-right: 50px;
    margin-bottom: 10px;
}

.bg-color {
    background-color: rgb(254,176,5);
}

label {
    color: grey;
    font-size: 2em;
}

input[type="radio"] {
    display: none;
}

.clasificacion {
    direction: rtl;
}

label:hover {
    color: rgb(254,176,5);
}

label:hover~label {
    color: rgb(254,176,5);
}

input[type="radio"]:checked~label {
    color: rgb(254,176,5);
}

.line {
    border: none;
    background: transparent;
    color: #103567;
}

.star {
    color: rgb(254,176,5);
}