.grid{
    display: grid;
    
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
}

.search_grid{
    display: grid;
    
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.card{
    padding: 1em;
}